<h1>Edit album info</h1>

<form action='/albums/<%= @album.id %>' method='post'>
      <p>
        <label>
        Title:
          <input type="text" name="title"
          value="<%= @album.title %>"/>
        </label>
      </p>

      <p>
        <label>
        Artist:
          <select name = "artist_id" >
              <%for artist in @artists%>
                    <option <%= "selected" if artist.name == @album.artist.name %>
                    value="<%=artist.id%>" > <%=artist.name%></option>
              <%end%>
          </select>
        </label>
      </p>

      <p>
        <label>
        Genre:
          <select name = "genre_id" >
              <%for genre in @genres%>
                <option <%= "selected" if genre.name == @album.genre.name %>
                value="<%=genre.id%>" > <%=genre.name%></option>
              <%end%>
          </select>
        </label>
      </p>

      <p>
        <label>
        Quantity:
          <input type="number" min="0" name="quantity"
          value="<%= @album.quantity %>" />
        </label>
      </p>

    <input type="submit" value="Update album"/>

</form>

