<h1 class="centre">Inventory</h1>
<p><h4 class="centre">The store has the following albums in stock. Order more when stock level displays 'Low' </p> </h4>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Quantity</th>
    <th>Stock Level</th>
    <th>Order more</th>
    <th>Receive order</th>
  </tr>
    <% for album in @albums%>
  <tr>
    <td nowrap>  <a href='/albums/<%= album.id %>/edit'><%= album.title %> </a></td>
    <td nowrap>  <a href='/artists/<%= album.artist.id%>'><%= album.artist.name %></a></td>
    <td nowrap> <%= album.genre.name %></td>
    <td nowrap class=number_column>  <%= album.quantity %></td>
    <td nowrap> <%= album.stock_check %> </td>
    <td nowrap class="button"> <a class="btn" href='/albums/<%= album.id %>/order'>Order</a></td>
    <td nowrap class="button"> <a class="btn" href='/albums/<%= album.id %>/delivery'>Receive</a></td>
  </tr>
    <%end%>
</table>







