<div style="padding:10px">
<h1>Inventory</h1>

<p><h4>The store has the following albums in stock. </p>
<p>Order more when stock level displays 'Low'. </p> </h4>
<div>

<div style="padding:10px">
<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Quantity</th>
    <th>Stock Level</th>
  </tr>
    <% for album in @albums%>
  <tr>
    <td>  <%= album.title %> <a href='/albums/<%= album.id %>/edit'>Edit</a></td>
    <td>  <%= album.artist.name %></td>
    <td class=number_column>  <%= album.quantity %></td>
    <td> <%= album.stock_check %> </td>
  </tr>
    <%end%>
</table>
</div>





