<h1>Inventory</h1>

<p><h4>The store has the following albums in stock. Order more when stock level displays 'Low' </p> </h4>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Quantity</th>
    <th>Stock Level</th>
    <th>Order more</th>
  </tr>
    <% for album in @albums%>
  <tr>
    <td>  <a href='/albums/<%= album.id %>/edit'><%= album.title %> </a></td>
    <td>  <a href='/artists/<%= album.artist.id%>'><%= album.artist.name %></a></td>
    <td> <%= album.genre.name %></td>
    <td class=number_column>  <%= album.quantity %></td>
    <td> <%= album.stock_check %> </td>
    <td> <a class="btn" href='/albums/<%= album.id %>/edit'>Order</a></td>
  </tr>
    <%end%>
</table>






