<div class="centre"><p><h2> Artist: <%= @artist.name %> </h2> 
<a class="btn" href='/artists/<%=@artist.id%>/edit'>Edit artist</a> </p>

<p>Albums in stock </p><div>
<table class="artists">
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Quantity</th>
    <th>Stock Level</th>
  </tr>
    <% for album in @albums%>
  <tr>
    <td> <a href='/albums/<%= album.id %>/edit'> <%= album.title %> </a> </td>
    <td> <%= album.genre.name %> </td>
    <td class=number_column>  <%= album.quantity %></td>
    <td> <%= album.stock_check %> </td>
  </tr>
    <%end%>
</table>

<p><a class="btn" href='/albums/new'>Add new album</a></p>

